input {
  width: 150px;
  height: 20px;
  padding: 7px 12px;
  border: 1px solid white;
  outline: none;
  border: 10px;
}

.icon {
  width: 24px;
  cursor: pointer;
}

.disabled-btn > .icon {
  cursor: not-allowed;
}

.disabled-btn {
  cursor: not-allowed;
}
